<div class="row no-gutters">
  <div class="col-md-3" *ngFor="let friend of friends">
    <div class="card">
      <div class="card-header muted">
        {{friend.username}}
      </div>
      <img class="card-img" [src]="friend.profileImage" alt="Profile Image" />
    </div>
  </div>
  <div class="col-md-3">
    <div
        *ngIf="!editing"
        (click)="editing=true" 
        class="card clickable bg-primary">
      <div class="card-header text-light">
        Add Friend
      </div>
      <div class="card-body text-center text-light">
        <h1>+</h1>
      </div>
    </div>
    <div
        *ngIf="editing"
        class="card bg-primary">
      <div class="card-header text-light">
        Add Post
      </div>
      <div class="card-body text-center text-light">
        <div class="row justify-content-between">Username: <input #name class="float-right" placeholder="username" /> </div>
        <p> <button (click)="AddFriend(name.value)" class="btn btn-success">Submit</button> </p>
      </div>
    </div>
  </div>
</div>