<div class="row no-gutters">
  <div class="col-md-4" *ngFor="let post of posts">
    <div class="card">
      <div class="card-header text-muted">
        {{post.username}}
        <span *ngIf="post.rating>0" class="badge badge-success float-right">{{post.rating}}</span>
        <span *ngIf="post.rating<0" class="badge badge-danger float-right">{{post.rating}}</span>
        <span *ngIf="post.rating==0" class="badge badge-secondary float-right">{{post.rating}}</span>
        <button class="btn-sm float-right" (click)="post.VoteUp()">^</button>
        <button class="btn-sm float-right" (click)="post.VoteDown()">v</button>
      </div>
      <img *ngIf="!(post.image == null)" class="card-img-top" src={{post.image}} alt="card image" />
      <div class="card-body">
          <p class="card-text">{{post.content}}</p>
      </div>
      <div class="card-footer text-muted">
        <small>posted whenever</small>
      </div>
    </div>
  </div>
</div>